<div class="container">
  <div class="row">
    <div class="col-lg-10">

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Default input" matInput [(ngModel)]="recipe.title" style="margin-bottom: 10px">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>




      <img src="{{recipe.image}}" alt="..." class="img-thumbnail">
      <quill-editor [modules]="modules" [(ngModel)]="recipe.text"></quill-editor>
    </div>
    <div class="col-lg-2">
      <app-ingredients [recipe]="recipe"></app-ingredients>
    </div>
  </div>
</div>

<div *ngIf="recipe">






</div>

<button (click)="outputContent()">out</button>


